# Line length
line-length = 100

# Target Python version
target-version = "py312"

[lint]
# Enable Pyflakes (`F`), pycodestyle (`E`), and isort (`I`)
select = ["E", "F", "I"]
ignore = []

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
